<fieldset>
  <legend>
    <button class="btn btn-danger">Directives</button>
  </legend>
  <div class="row">
    <div class="col-md-4">
      <li><a [routerLink]="['ng-for']">*ngFor(Structural)</a></li>
    </div>
    <div class="col-md-4">
      <li><a [routerLink]="['ng-if']">*ngIf(Structural)</a></li>
    </div>
    <div class="col-md-4">
      <li><a [routerLink]="['ng-if-else']">*ng-if-else(Structural)</a></li>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <li><a [routerLink]="['ng-if-then-else']">*ng-if-then-else(Structural)</a></li>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <li><a [routerLink]="['ng-style']">ng-style(Attribute)</a></li>
    </div>
    <div class="col-md-4">
      <li><a [routerLink]="['ng-class']">ng-class(Attribute)</a></li>
    </div>
    <div class="col-md-4">
      <li><a [routerLink]="['ng-switch']">ng-switch(Structural)</a></li>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <li><a [routerLink]="['custom-structural']">Custom structural</a></li>
    </div>
    <div class="col-md-4">
      <li><a [routerLink]="['custom-attribute']">Custom attribute</a></li>
    </div>
  </div>
  <br/><br/>
  <router-outlet></router-outlet>
</fieldset>
