<fieldset>
  <legend>
    <button class="btn btn-danger" (click)="OnClick()">Routing</button>
  </legend>
  <div class="row">
    <div class="col-md-4">
      <li><a [routerLink]="['params-query-params','baluragla']"
             [queryParams]="{'busy':true,'calendar':'permitted'}"
             routerLinkActive="active"
      >Params
        and Query
        Params</a>
      </li>
    </div>
    <div class="col-md-4">
      <li><a [routerLink]="['authors', {outlets: {'list': ['authorsList'], 'detail': ['none']}}]"
             routerLinkActive="active"
      >Named Outlets</a></li>
    </div>
  </div>
  <br/><br/>
  <router-outlet></router-outlet>
</fieldset>
