<fieldset>
  <legend>
    <button class="btn btn-danger" (click)="OnClick()">Remote Communication</button>
  </legend>
  <div class="row">
    <div class="col-md-4">
      <li><a [routerLink]="['display']"
             routerLinkActive="active">Display Data(GET)</a>
      </li>
    </div>

    <div class="col-md-4">
      <li><a [routerLink]="['add-user']"
             routerLinkActive="active">Add User(POST)</a>
      </li>
    </div>

    <div class="col-md-4">
      <li><a [routerLink]="['manage-user']"
             routerLinkActive="active">Manage Users(PUT, DELETE)</a>
      </li>
    </div>
  </div>
  <br/><br/>
  <router-outlet></router-outlet>
</fieldset>
