<fieldset>
  <legend>
    <button class="btn btn-warning">Master Index</button>
  </legend>
  <p>This master project contains examples for all modules. The navigation below is indexed as per the course progress</p>
  <p>Any questions, please contact hello@zeolearn.com</p>
  <div class="row">
    <div class="col-md-4">
      <li><a [routerLink]="['component']">2-Component</a></li>
    </div>
    <div class="col-md-4">
      <li><a [routerLink]="['styling']">2-Styling</a></li>
    </div>
    <div class="col-md-4">
      <li><a [routerLink]="['template']">3-Template</a></li>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4">
      <li><a [routerLink]="['directive']">4-Directive</a></li>
    </div>
    <div class="col-md-4">
      <li><a [routerLink]="['pipes']">5-Pipes</a></li>
    </div>
    <div class="col-md-4">
      <li><a [routerLink]="['forms']">6-Forms</a></li>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <li><a [routerLink]="['providers']">7-Provider (DI)</a></li>
    </div>
    <div class="col-md-4">
      <li><a [routerLink]="['routing']">8-Routing</a></li>
    </div>
    <div class="col-md-4">
      <li><a [routerLink]="['rxjs']">9-rxjs</a></li>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <li><a [routerLink]="['cc']">9-Component Communication With Subject</a></li>
    </div>
    <div class="col-md-4">
      <li><a [routerLink]="['remote-communication']">10-Remote communication</a></li>
    </div>
  </div>
  <br/><br/>
  <router-outlet></router-outlet>
</fieldset>
