<h2>Shipping Address (Template Driven)</h2>
<form #addressForm="ngForm" (ngSubmit)="save()">
  <!--name-->
  <div class="form-group">
    <label>Name</label>
    <input type="text"
           name="username"
           class="form-control"
           [(ngModel)]="user.name"
           #name="ngModel"
           required minlength="5">

    <div>
      <table class="table-bordered">
        <tr>
          <td>valid</td>
          <td>invalid</td>
          <td>dirty</td>
          <td>pristine</td>
          <td>touched</td>
          <td>untouched</td>
        </tr>
        <tr>
          <td>{{name?.valid}}</td>
          <td>{{name?.invalid}}</td>
          <td>{{name?.dirty}}</td>
          <td>{{name?.pristine}}</td>
          <td>{{name?.touched}}</td>
          <td>{{name?.untouched}}</td>
        </tr>
      </table>
      <p class="error" *ngIf="name?.dirty && name?.errors?.required">
        Name is required
      </p>
      <p class="error"
         *ngIf="name?.dirty && name?.touched && name?.errors?.minlength">
        Name must be minimum 5 characters
      </p>
      <p class="error"
         *ngIf="name?.dirty && name?.touched && name?.errors?.maxlength">
        Name must be maximum of 30 characters
      </p>
    </div>
  </div>

  <div class="form-group">
    <label>Mobile</label>
    <input type="text"
           name="mobile"
           class="form-control"
           [(ngModel)]="user.mobile"
           #mobile="ngModel"
           required minlength="10" maxlength="12">
    <small [hidden]="mobile.valid || mobile.pristine" class="text-danger">
      Mobile is required.
    </small>
  </div>

  <!--adrress group-->
  <div ngModelGroup="address" class="form-group">
    <!--street-->
    <div>
      <label>Street</label>
      <input type="text"
             name="street"
             class="form-control"
             [(ngModel)]="user.address.street"
             #street="ngModel" required>
      <small [hidden]="street.valid || street.pristine" class="text-danger">
        Street is required.
      </small>
    </div>

    <div class="form-group">
      <label>City</label>
      <input type="text"
             name="city"
             class="form-control"
             [(ngModel)]="user.address.city"
             #city="ngModel" required>
      <small [hidden]="city.valid || city.pristine" class="text-danger">
        Street is required.
      </small>
    </div>

    <div class="form-group">
      <label>Postalcode</label>
      <input type="text"
             name="postalcode"
             class="form-control"
             [(ngModel)]="user.address.postalcode">
    </div>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!addressForm.valid">Submit</button>
</form>
