<fieldset>
  <legend>
    <button class="btn btn-danger" (click)="OnClick()">Providers ( Dependency Injection )</button>
  </legend>
  <div class="row">
    <div class="col-md-4">
      <li><a [routerLink]="['component-level']"
             routerLinkActive="active">Component Level Provider</a>
      </li>
    </div>
    <div class="col-md-4">
      <li><a [routerLink]="['value']"
             routerLinkActive="active">Value Provider</a>
      </li>
    </div>
    <div class="col-md-4">
      <li><a [routerLink]="['factory']"
             routerLinkActive="active">Factory Provider</a>
      </li>
    </div>
  </div>
  <br/>
  <button class="btn btn-success"
          (click)="enablePremium()">Enable Premium</button>
  <br/><br/>
  <router-outlet></router-outlet>
</fieldset>
