<fieldset>
  <legend>
    <button class="btn btn-danger">Styling Components</button>
  </legend>
  <div class="row">
    <div class="col-md-4">
      <li><a [routerLink]="['inline']">Inline</a></li>
    </div>
    <div class="col-md-4">
      <li><a [routerLink]="['external']">External</a></li>
    </div>
    <div class="col-md-4">
      <li><a [routerLink]="['template-inline']">Template Inline</a></li>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <li><a [routerLink]="['view-encapsulation-none']">View Encapsulation None</a></li>
    </div>
    <div class="col-md-4">
      <li><a [routerLink]="['view-encapsulation-emulated']">View Encapsulation Emulated</a></li>
    </div>
    <div class="col-md-4">
      <li><a [routerLink]="['view-encapsulation-native']">View Encapsulation Native</a></li>
    </div>
  </div>
  <br/><br/>
  <router-outlet></router-outlet>
</fieldset>
